adium-theme-ubuntu==0.3.4
amqp==1.4.7
aniso8601==1.1.0
anyjson==0.3.3
apt-xapian-index==0.45
awsebcli==3.5.5
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.21
blessed==1.9.5
botocore==1.3.2
cement==2.4.0
Cerberus==0.9.2
click==5.1
debtagshw==0.1
decorator==4.0.2
defer==1.0.6
dirspec==13.10
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
dominate==2.1.16
duplicity==0.6.23
Events==0.2.1
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
flask-mongoengine==0.7.4
Flask-PyMongo==0.3.1
Flask-RESTful==0.3.4
Flask-WTF==0.12
Glances==2.5.1
gyp==0.1
html5lib==0.9999999
httplib2==0.8
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
kombu==3.0.29
lockfile==0.8
lxml==3.3.3
MarkupSafe==0.23
mccabe==0.3.1
mongoengine==0.10.0
numpy==1.8.2
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
PAM==0.4.2
path.py==8.1.1
pathspec==0.3.3
pbr==1.7.0
pep8==1.5.7
pexpect==3.1
pickleshare==0.5
Pillow==2.9.0
piston-mini-client==0.7.5
psutil==3.2.2
py==1.4.30
pycrypto==2.6.1
pycups==1.9.66
pyflakes==1.0.0
pygame===1.9.1release
pygobject==3.12.0
pyjs==0.1.0
pymongo==2.7
pyOpenSSL==0.13
PySensors==0.0.3
pyserial==2.6
pysmbc==1.0.14.1
pytest==2.8.2
python-apt===0.9.3.5ubuntu2
python-dateutil==2.4.2
python-debian===0.1.21-nmu2ubuntu2
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
reportlab==3.0
requests==2.8.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.8.1
six==1.9.0
software-center-aptd-plugins==0.0.0
South==0.8.4
stevedore==1.8.0
system-service==0.1.6
texttable==0.8.3
traitlets==4.0.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
visitor==0.1.2
wcwidth==0.1.5
websocket-client==0.34.0
Werkzeug==0.10.4
WTForms==2.0.2
xdiagnose===3.6.3build2
zope.interface==4.0.5
