p {
	font-size: 14px;
}

#content {
	width:100%;
}

#login-buttons{
    float: right;
    margin-top: 10px
}

.problems p {
    font-size: 20px;
}

@media(min-width:768px) {
    p {
        margin: 0 0 px;
        font-size: 16px;
        line-height: 1.6;
    }

	#content {
		width:40%;
		margin-left:3%;
	}

    .problems {
        width: 170%;
    }

    .problems p {
        font-size: 18px;
    }
}
