p {
	font-size: 14px;
}

#content {
	width:100%;
}

@media(min-width:768px) {
    p {
        margin: 0 0 px;
        font-size: 16px;
        line-height: 1.6;
    }

	#content {
		width:40%;
		margin-left:3%;
	}
}
