<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/reset.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/adventoflove.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" />
            <script src="{{ url_for('static', filename='js/lib/jquery.js') }}" ></script>
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script src="{{ url_for('static', filename='js/lib/fb.js') }}" ></script>
        {% block navbar %}
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Advent Of Love</a>
                </div>
            </nav>
        {% endblock %}
        {% block login_buttons %}
            <div class="container">
                <fb:login-button scope="public_profile, email" onlogin="checkLoginState();">
                </fb:login-button>
                <div id="status"></div>
                <a href="https://github.com/login/oauth/authorize?client_id=afe3fcfa67c8241657e1">github</a>
                <script src="https://apis.google.com/js/platform.js" async defer></script>
            </div>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}" ></script>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            <div class="container">
                {% block footer %}
                    Made with &hearts; by <a href="http://setzer777.github.io/">Alberto Romero</a>.
                {% endblock %}
            </div>
        </div>
    </body>
</html>