{% extends 'base.html' %}

{% block title %}
	Day {{ day }} - {{ name }}
{% endblock %}

{% block content %}
	<div class="problems">
		<h1>Day {{ day }} - {{ name }} </h1>
		<div id="problem">
			{% for line in problem %}
    			<p>{{ line }}</p>
			{% endfor %}
		</div>
        <div id="solution">
            <form action="" method="POST" accept-charset="utf-8">
                <input type="text" name="" value="" placeholder="">
            </form>
        </div>
	</div>
{% endblock %}

{% block scripts %}
	<!-- // <script src="{{ url_for('static', filename='js/loadProblem.js') }}" ></script> -->
{% endblock %}
